{% extends 'base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Познавательные научно-популярные статьи</h1>
        <p class="fs-5 text-muted">Данный сайт можно рассматривать как полноценный справочник по школьной физике и математике. Автором и создателем этого сайта является магистр физико-математических наук и репетитор по физике и математике с многолетним стажем Волович Виктор Валентинович. Ниже приведена краткая информация об услугах очной подготовки к ЦТ, ЕГЭ и другим экзаменам по физике, математике и высшей математике, которые оказывает данный преподаватель. Имеется также возможность обучения физике и математике для повышения текущей успеваемости в школе, гимназии, лицее или в ВУЗе.</p>
    </div>
{% endblock %}